# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/
.expo/
expo-debug.log

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Cache
.cache/
.terraform/
.expo/
.expo-shared/
coverage/

# React Native
android/
ios/
*.keystore
*.jks

# Supabase
.supabase/

# Misc
*.pid
*.seed
*.pid.lock
